/* Abdelrahman Elsayed */

#svg {
    visibility: hidden;
    position: fixed;
}

.card {
    background: #da9f56;
    border-radius: 20px;
    display: inline-block;
    height: 31.3%;
    margin: 1rem;
    position: absolute;
    width: 16.08%;
    top: 40%;
    -webkit-transform: translateY(-30%);
    -ms-transform: translateY(-30%);
    transform: translateY(-30%);
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
}

#dummy-svg {
    position: absolute;
    top: 27%;
    -webkit-transform: translateY(-30%);
    -ms-transform: translateY(-30%);
    transform: translateY(-30%);
    left: 27%;
    -webkit-transform: translateX(-25%);
    -ms-transform: translateX(-25%);
    transform: translateX(-25%);
    transform: scale(2);
}

body {
    background-color: #e8dcab;
}

input[type=text] {
    position: absolute;
    top: 23%;
    left: 47.9%;
    padding: 5px;
    border: 2px solid #ccc;
    -webkit-border-radius: 5px;
    border-radius: 6%;
    height: 10.393%;
    width: 4.71%;
    font-size: 72px;
    text-align: center;

}

input[type=text]:focus {
    border-color: rgb(34, 34, 34);
}

input[type=submit] {
    position: absolute;
    top: 37%;
    left: 47.6%;
    font-size: 15px;
    width: 6.521%;
    padding: 5px;
    background: grey;
    border: 0 none;
    cursor: pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    font-size: 120%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}

#tooltip {
    height: 10.393%;
    width: 4.71%;
}

#tooltip .error-tooltip::after {
    content: " ";
    position: absolute;
    top: 50%;
    right: 100%;
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent black transparent transparent;
}

#tooltip .error-tooltip {
    visibility: hidden;
    width: 120px;
    background-color: rgb(194, 11, 11);
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    top: 25%;
    right: 38.4%;
    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1;
}

#tooltip .instr-tooltip {
    visibility: hidden;
    width: 120px;
    background-color: green;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    top: 25%;
    left: 39.8%;
}

#tooltip .instr-tooltip::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 100%;
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent transparent black;
}

/* Show the tooltip text when you mouse over the tooltip container */

#tooltip:hover .instr-tooltip {
    visibility: visible;
}

.slidecontainer {
    position: absolute;
    width: 30%;
    height: 3%;
    margin-top: 25.5%;
    margin-left: 61%;

}

.slider {
    position: absolute;
    -webkit-appearance: none;
    height: 100%;
    border-radius: 20px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
    width: 65.5%;
    top: 57.5%;
    margin-top: -2%;
    margin-left: 0%;

}

.slider:hover {
    opacity: 1;
    /* Fully shown on mouse-over */
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    /* height: 160%; */
    width: 8%;
    border-radius: 50%;
    background: #4CAF50;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    -webkit-appearance: none;
    appearance: none;
    /* height: 560%; */
    border-radius: 50%;
    height: 120%;
    width: 10%;
    background: #4CAF50;
    cursor: pointer;
}

#sliderText {
    position: absolute;
    margin-left: 1%;
    margin-top: 5%;
    font-size: 120%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}

h1 {
    position: absolute;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    left: 41.2%;
    top: 3%;
    font-size: 320%;
}

h2 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    position: absolute;
    font-size: 160%;
    margin-top: -8%;
    margin-left: 5.5%;
}